/* CSS Document */
/*--www.dookay.com技术支持--*/
.clear{clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}

html{height:100%;}
body{font-size:12px;height:100%;font-family:arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Tahoma, Arial, Helvetica, STHeiti;background:url(../images/foot_bg.png) 0 0 repeat;;color:#5E5E5E;height:100%;}
*{padding:0;margin:0;}
a{outline: none;text-decoration:none;cursor:pointer; color:#FFF;}
a img{border:0;}
a:active {star:expression(this.onFocus=this.blur());}
a:hover{text-decoration:underline;}
:focus {outline:0;}
li{list-style-type:none;}
.left,.flt_l{float:left;}
.right,.flt_r{float:right;} 
hr{display:none;}
ul li { float:left; }
#wrap{background:url(../images/foot_bg.png) 0 0 repeat;}

/*head*/
#phead { background:url(../images/head_bg.png) 0 0 repeat-x; height:36px; padding:12px 0; }
.head1{ width:970px; margin:0 auto; }
h1 { height:25px; width:300px; float:left; margin:5px 305px 0 0; }
h1 a { display:block; height:25px; }
.nav_main { float:left; width:395px; }
.nav_main ul li { float:left; margin:0 45px 0 0; }
.nav_main ul li a { display:inline-block; height:35px; padding:0 15px; line-height:35px; font-size:14px; }
.nav_main ul li a.current{ padding:0 15px 0 10px; background:url(../images/current_bg.png) 0 0 no-repeat; }
.icon { float:left; display:inline-block; width:25px; height:25px; background:url(../images/icon.png) no-repeat; }
.icon01 { background-position:2px 8px; }
.icon02 { background-position:-17px 8px; }
.icon03 { height:30px; background-position:-39px 8px; }
.icon04 { height:30px; background-position:-120px -41px; width:40px; margin-bottom:-5px; float:none; }
.icon05 { width:30px; height:20px; background-position:-75px 0; margin-left:10px; }
.icon07 { width:20px; height:20px; background-position:0 -70px; margin:7px 5px 0 20px;  }
.icon08 { width:20px; height:20px; background-position:-47px -56px; margin:8px 5px 0 20px;  }
.icon09 { width:35px; height:35px; background-position:-164px -40px; margin-right:10px; }
.icon_new { background-position:-150px -24px; margin-top:12px; }
.chakan { display:inline-block; }
.chakan span { display:inline-block; width:25px; height:15px; margin-left:5px;float:right; }
.table_gz { border:1px solid #C7C9D1; border-top:none; border-radius:10px; }
.head1 .flt_r a { display:inline-block; height:35px; line-height:35px; font-size:14px; width:90px; }
.table .tr_last td { border-bottom:none; }

/*banner*/
#pbanner_index {background:url(../images/banner_bg.png) 0 0 repeat-x; }
.ban_index { position:relative; width:970px; height:418px; margin:0 auto; background:url(../images/banner.jpg) 0 0 no-repeat; }
.login { position:absolute; top:45px; left:592px; width:321px; height:410px; background:url(../images/login.png) 0 0 no-repeat; }
.login h2 { color:#3F3F3F; font-weight:normal; font-size:18px; margin:35px 0 0 30px; }
.table_login { margin:35px 0 0 30px; }
.form_login .text { height:20px; width:230px; border:1px solid #BBB; padding:4px;}
.form_login td { padding:5px 0; }
.form_login .checkbox {margin:0 5px 0 0; }
.form_login label { display:inline-block; margin:10px 30px 0 0; color:#666; }
.form_login .submit { float:left; font-size:14px; cursor:pointer; border:none; background:
url(../images/btn.png) 0 0 no-repeat; width:106px; height:42px; color:#FFF; margin:15px 30px 0 0; }
.login a{color:#0072C5;}
.login .form_login a { font-size:12px; display:inline-block; line-height:42px; margin-top:12px;}
.login p { margin:60px 0 0 30px; color:#000; font-size:14px; }
.login p a { display:inline-block; margin:0 0 0 15px; }

/*foot*/
#pfoot { background:none;}
#pfoot_index { background:url(../images/foot_bg.png) 0 0 repeat; }
.foot { width:970px; margin:0 auto; padding:80px 0; }
.foot .links { float:left; }
.foot ul li { float:left; }
.foot ul li a { color:#5E5E5E; font-size:12px;  }
.foot ul li a:hover { text-decoration:underline; }
.foot p { float:right; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#5E5E5E; }
.ban {width:970px; margin:0 auto;}
.register { margin:30px 0 0 90px; }
.register h2 { font-size:26px; color:#3F3F3F; font-weight:normal; margin:0 0 30px 0;}
.bar { display:inline-block; height:42px; background:url(../images/bar.png) 0 0 no-repeat; font-size:16px; text-align:center; line-height:40px; color:#ACAEBA; margin-left:-15px; }
.first { margin:0; width:165px; background-position:0 0; color:#FFF; }
.second { width:190px; background-position:-178px -59px; }
.second_current {width:190px; background-position:-178px 0; color:#FFF;}
.third { width:150px; background-position:-380px 0; }
.third_current {width:150px; background-position:-380px -59px;color:#FFF;}

.tabcnt_form { width:750px; background:#FFF; border:1px solid #BEC0CA; margin:40px 0 0 0; padding:30px 0 20px 40px;} 

.form_main{font-size:12px;}
.form_main a:hover{ text-decoration:underline;}
.form_main input{float:left;}
.form_main .msg{float:left;margin-left:10px;color:#B2B2B2;}
.form_main .red{color:red; font-size:16px;display:inline-block; position:relative;top:5px;margin:0 5px;}
.form_main .msg_br{ clear:both;color:#B2B2B2;}
.form_main .tip_in{ font-weight:bold; font-size:14px;color:red;}
.form_main .empty{ float:left; display:inline-block; width:10px; height:14px;}
.form_main .expn{float:left;margin:0 10px;}
.form_main .lab_cb{margin-left:5px;}
.form_main .msg_subt{ float:left; margin:5px 10px;}
.form_main .msg_subt a{margin:0 5px;color:#2EA3DD;}
.form_main table{border:none;line-height:26px;}
.form_main th{text-align:right;}
.form_main th,.form_main td{font-weight:normal;padding:8px 4px;}
.form_main .text{height:18px;line-height:18px;background:#fff;border:#D9D9D9 solid 1px;color:#666;padding:4px 5px;width:250px;}
.form_main .checkbox{float:left;margin-top:6px;}
*html .form_main .checkbox{margin:2px 0 0 -4px;}
*+html .form_main .checkbox{margin:2px 0 0 -4px;}
.form_main .submit,.form_main .submit_c{cursor:pointer;border:none; background:url(../images/button.png) left top;height:38px;line-height:30px;padding-bottom:2px; width:82px;color:#fff;}
/*.submit:hover,.submit_c:hover{ opacity:0.8;filter:alpha(opacity=80);}*/
.form_main .submit_c{ background-position:right top;color:#666;}
.form_main textarea{border:#D9D9D9 solid 1px;padding:5px;line-height:18px; height:150px; width:450px;}
.form_main .radio{margin:6px 5px 0 0;}
*html .form_main .radio{margin:3px 2px 0 0;}
*+html .form_main .radio{margin:1px 0px 0 0;}
.form_main label{float:left;}
.form_main label input{margin-right:5px;}
.form_main select{float:left;border:#D9D9D9 solid 1px;padding:3px;color:#666;}
.error,.cort{ background:url(../images/icon_t.png) -178px -55px no-repeat;border:1px solid #EEDFD0; display:inline-block;padding:0 10px 0 30px; height:26px; line-height:26px;background-color:#FBF7F3;margin-left:-1px;}

.form_register th { float:left; }
.form_register .red { top:2px; margin:0 15px 0 0; color:#C41216;}
.form_register .text { border:1px solid #BBB; width:192px; height:15px;}
.form_register th, .form_register td { text-align:left; padding:4px 8px;}
.form_register label { margin:0 35px 0 0; }
.form_register .submit { font-size:14px; background:url(../images/btn.png) 0 0 no-repeat; width:106px; height:42px; }
.table_register a { color:#0072C5; display:inline-block; margin:0 0 0 20px;}
.form_register .msg { margin-left:20px; }
.table_register .yuedu { margin:20px 0 0 60px; color:#5E5E5E;}
.form_register .submit1{ background-position:-1px -40px; width:142px; font-size:14px; }
.form_register .submit2{ background-position:-153px -40px; width:142px; font-size:14px; color:#ACAEBA; }
.tabcnt_form .suc { margin:80px 50px 170px 130px; }
.ok { margin:30px 75px 50px 0; float:left; display:inline-block; width:80px; height:55px; background:url(../images/ok.png) 0 0 no-repeat;}
.tabcnt_form .suc h3 { color:#6C9826; font-size:26px; font-weight:normal;}
.tabcnt_form .suc p { font-size:12px; line-height:18px; }
.form_register .tzleibie th, .form_register  .tzleibie td{ padding:40px 8px 0 8px; }

/*ptop*/
#ptop{ position:relative; height:36px; background:url(../images/head_bg.png) 0 0 repeat-x; padding:12px 0; color:#FFF; }
#ptop h1 { margin-left:25px; } 
#ptop .user { float:right; margin-right:40px;}
#ptop .user ul li { height:30px; line-height:30px; }
#ptop .user ul li a { display:inline-block; height:30px; line-height:30px; }
.help_top { margin-top:7px; }
.hotline { float:right; font-size:14px; margin-right:20px; width:120px;}
.hotline span { font-size:16px; font-family:Verdana, Geneva, sans-serif; }

/*左边菜单*/
#pleft{position:absolute;z-index:0;top:60px;left:0;bottom:0;right:0;overflow:hidden;width:200px; background:#414149;}
.nav_left{position:absolute;height:100%;width:100%; padding:15px 0 0 0; overflow:auto;}
.nav_left ul{ font-size:14px;}
.nav_left li a{ display:block;}
.nav_left li{ float:none;line-height:42px;}
.nav_left li .in{border-bottom:1px solid #494951;padding-left:50px; display:block;}
.nav_left li .in:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .nav_left li .in{height:1%;}
.nav_left li li .in{padding-left:65px;}
.nav_left li li li .in{padding-left:80px;}
.nav_left li li li li .in{padding-left:95px;}
.nav_left li.current{ background:url(../images/plt_cu.png) left top repeat-x;}
.nav_left li.current .in{border-bottom:none;padding-bottom:6px;line-height:36px;}
.nav_left li.current li .in{border-bottom: 1px solid #494951;margin-bottom:0; padding-bottom:0; line-height:42px;}
.nav_left li.current a:hover{ text-decoration:none;}
.nav_left a{ float:left;}
.nav_left .tree_chd,.nav_left .tree_open{display:inline-block; width:8px; height:5px; background:url(../images/icon.png) -89px -85px no-repeat;margin:21px 0 0 10px; float:left;}
.nav_left .tree_open{ background-position:-115px -85px;margin:18px 0 0 10px;}
.nav_left span.vip{ width:13px; height:13px; float:left;background:url(../images/icon.png) -110px -1px no-repeat;margin:16px 5px 0 -18px;}
.nav_left li.current span.vip{margin-top:13px;}
.nav_left li.vipcurrent{ background-image:url(../images/plt_cuvip.png);}
/*select样式*/
.select{ background:#FFF; width:202px;height:23px;color:#666;border:1px solid #BBB; position:relative; z-index:0;}
.select a.curr{ text-align:left; line-height:23px; height:23px; overflow:hidden;display:block;color:#666;margin:0 8px; background:url(../images/select.png) right 10px no-repeat;}
.select a.curr:hover { text-decoration:none; }
.select .show{border:1px solid #BBB;border-top:none; position:absolute;left:-1px;top:22px; background:#fff; z-index:1; width:186px; padding:0 8px; display:none;}
.select .show li{ cursor:pointer; float:none; display:inline-block; width:100%;}
.select .show li:hover { color:#0072C5; }
.select .show .btn a { text-align:center; display:inline-block;background:url(../images/btn.png) no-repeat; color:#FFF;}
.select .show .btn a:hover { text-decoration:none; }
.select .show .btn .confirm { width:65px; height:23px; line-height:23px; background-position:1px -83px; float:right; }
.select .show li.btn { width:100%;}

#pmain{position:absolute;top:60px;left:200px;bottom:0;right:0; overflow:hidden;}
#pmain iframe{ height:100%;width:100%;position:absolute;}
#pmain .ex{ height:100%;width:100%;position:absolute; overflow:auto;}

#main{position:absolute;top:60px;left:0px;bottom:0;right:0; overflow:hidden;}
#main iframe{ height:100%;width:100%;position:absolute;}
#main .ex{ height:100%;width:100%;position:absolute; overflow:auto;}


#wrap1 { padding:20px 30px; }
#wrap1 .title { margin:0 0 10px 0;}
#wrap1 .title h4 { float:left; font-weight:normal; }
#wrap1 .title a { display:inline-block; float:right; color:#5E5E5E; }
#wrap1 .box { border:1px solid #BEC0CA; border-radius:5px; }
#wrap1 .box1 { background:#FFF; padding:0 0 0 35px; border-bottom:1px solid #BEC0CA; }
#wrap1 .box1 ul li a { text-decoration:none; color:#5E5E5E; display:inline-block; height:24px; line-height:24px; margin:8px 0; padding:0 15px; }
#wrap1 .box1 ul li a.current { background:url(../images/current_bg.png) -83px 0 no-repeat; color:#FFF; font-weight:bold; } 
#wrap1 .box2 { background:#F5F5F5; padding:10px 15px; }
.form1 td { padding:8px 30px 4px 8px; }
.form1 .text { width:130px; height:15px; }
.form1 .submit02 { width:65px; height:24px; line-height:24px; background:url(../images/btn.png) 0 -82px no-repeat; }
.form1 .submit_vip { background-position:-232px -88px; }

.table { position:relative; padding-bottom:15px; background-color:#FFF;}
.tr_l,.tr_r { position:absolute; top:0;  display:inline-block; width:5px; height:45px;}
.tr_l { float:left;left:-1px; background:url(../images/tr_l.png) 0 0 no-repeat; }
.tr_r { float:left;right:-1px; background:url(../images/tr_r.png) 0 0 no-repeat; }
.trth {height:45px; background:url(../images/th_bg.png) 0 0 repeat;}
.trth_vip { background:url(../images/trth_vip_bg.png) 0 0 repeat; }
.trth  th { color:#FFF; font-weight:normal;}
.table td { background:#FFF; text-align:center; line-height:39px; border-bottom:1px solid #E0E0E0; }
.table .table_data:hover {background-color: #eeeeee}
.table .table_data:hover td{background:none;}
td.bo_na a{color:#21A5DE;}
td.lilv {color:#C41215;font-family:'Verdana';}
td a,td { color:#020000; }

.table table {border-collapse:collapse;empty-cells:show;width:100%;}
.cha_ser ul li a { color:#5E5E5E; }

.operate { padding:30px 0 15px 30px; text-align:left; }
.operate0 { display:inline-block; background:url(../images/current_bg.png)  no-repeat;  height:32px; margin:0 5px; }
.operate1 { width:62px; background-position:-141px 0;  }
.operate2 { width:102px; background-position:0 -38px; }
.operate3 { width:102px; background-position:-105px -38px; }
.operate4 { width:100px; background-position:0 -75px; }
.operate span { display:inline-block; width:20px; height:20px; background:url(../images/icon.png) no-repeat;margin:5px 0 0 5px; }
.operate2 span { background-position:-151px 0;  }
.operate3 span { background-position:-173px 1px; }
.table table table td { border-bottom:none; }
.table table table tbody { display:none; }
.table table .show_body thead td {border-bottom:1px solid #E0E0E0; background:#F9F9F9; }
.table table .show_body tbody { display:table-row-group;}
/*.table table table tbody{display:table-row-group;}*/
.table table .show_body tbody td {background:#F0F0F0;}
.cha_ser { float:right; margin-right:100px; line-height:24px; }
.hot_red { background-position:0 -23px; float:right; margin:5px 0 0 5px; }

#wrap2 { width:1000px; margin:0 auto; padding-bottom:50px; }
.local { margin:15px 0; float:left;height:24px; line-height:24px; }
.local a { color:#5E5E5E; }
.local01 { font-size:14px; font-weight:bold; }


.back { width:50px; margin:15px 0 0 0; float:right; display:inline-block; height:24px; color:#020000; line-height:24px; }
.back span { float:right; display:inline-block; height:18px; width:18px;  background:url(../images/icon.png) -57px -23px no-repeat; margin:4px 0 0 5px;}
.box_c { position:relative; width:805px; padding:0 60px 0 50px; background:#FFF; border-left:1px solid #BEC0CA; border-right:1px solid #BEC0CA;  }
.box_c h2 { font-size:24px; color:#3F3F3F; padding:10px 0 15px 0; border-bottom:1px solid #cccccc; }
.box_c h3 { font-size:18px; font-weight:normal; color:#666666; padding:10px 0 15px 0; border-bottom:1px solid #cccccc; }
.box_c .close { position:absolute; top:-53px; right:25px; display:inline-block; height:25px; width:20px; background:url(../images/icon.png) -29px -24px no-repeat;}

.box_h { width:917px; height:60px; background:url(../images/head_foot.png) 0 0 no-repeat; }
.box_f { width:917px; height:20px; background:url(../images/head_foot.png) 0 -80px no-repeat; }
.op_ser { background:#F9F9F9; margin:0 0 35px 0; border-bottom:1px solid #E0E0E0;}
.op_ser .operate { padding:12px 0 8px 0; }
.op_ser .cha_ser { margin:15px 0; }
.table1 { border:1px solid #B4B9C0; color:#020000; }
.table1 td { padding:0 0 0 10px; text-align:left; width:33%; } 
.bor_r { border-right:1px solid #E0E0E0; }
.table1 .td_hover { background:#F9F9F9; }
.table1 td:hover { background:#F9F9F9; }
.table1 td b { display:inline-block; width:140px;}

.box_c .zxziliao { width:770px; margin-left:5px; }
.box_c .zxziliao h4 { color:#333; padding:40px 0 10px 0; }
.table_email td { border-bottom:1px solid #E0E0E0; }

.table_email .td_hover,.table_email td:hover { background:#F9F9F9; }
.table_email .td_hover .icon_look,.table_email td:hover .icon_look{ background:url(../images/icon.png) -82px -22px no-repeat; margin-right:8px; margin-top:2px; }

.table_email td label { float:left; color:#020000; }
.table_email td a { display:inline-block; color:#020000; }
.form_email .checkbox { margin:3px 10px 0 5px; }
.icon_look { width:15px; height:15px; background:none; }
.form_email table { line-height:18px; }
.form_email .send { border-bottom:none; background:#FFF; }
.form_email .send:hover { border-bottom:none; background:#FFF; }
.form_email .submit_ema { float:right; cursor:pointer; border:none; width:90px; height:23px; line-height:23px; background:url(../images/btn.png) -63px -82px; no-repeat; color:#FFF; } 
.dload {float:right; display:inline-block; height:15px; margin-right:50px; }
.dload span { float:left;display:inline-block; width:15px; height:15px; background:url(../images/icon.png) -100px -23px no-repeat; margin:2px 5px 0 0;}

.clo_loo { margin:50px auto; width:310px; }
.clo_loo a {display:inline-block; background:url(../images/btn.png) no-repeat; font-size:16px; text-align:center; }
.clo_loo .clo { height:40px; width:106px; background-position:0 0; line-height:40px; }
.clo_loo .loo { height:36px; width:180px; background-position:-114px 0; line-height:36px; color:#3F3F3F; }
.clo_loo .loo span { float:right; display:inline-block; height:18px; width:18px;  background:url(../images/icon.png) -57px -23px no-repeat; margin:10px 10px 0 0;}
.clo_loo1 { width:270px; padding-bottom:50px; }
.clo_loo1 a {display:inline-block; font-size:12px; text-align:center; }
.clo_loo1 .clo { height:36px; width:80px; background:#C41216; line-height:36px; font-size:14px; }
.clo_loo1 .clo:hover{ text-decoration:none; }
.clo_loo1 .loo { background:none; color:#0072C5; width:170px; }

#wrap3 { background:#FFF;}
.box_xz { background:#FFF; }
.box_xz .title { border-bottom:1px solid #999; padding:0 50px; }
.box_xz .table1 { border:none; }
.table2 {color:#020000; }
.table2 td { padding-left:15px; }
.table2 .look { margin-right:80px; }
.table2 .dload span { background:none; }
.table2 td:hover .dload span { background:url(../images/icon.png) -100px -23px no-repeat; }
.form_xz .submit_ema { background:#C41216; margin-right:50px; text-align:center; height:22px; line-height:22px;}
.box_xz p { background:#999; height:1px; }

/*overlay*/
.overlay { display:none; background:#FFF; width:525px; } 
.overlay h2 { padding:0 0 0 15px; color:#FFF; font-size:14px; font-weight:bold; height:37px; line-height:37px; background:url(../images/overlay_h.png) 0 0 repeat-x; }
.overlay .mailbox { width:275px; margin:35px 125px; }
.overlay label { display:block; margin:0 0 15px 0; }
.overlay label input { float:left; }
.overlay label span { color:#CCC; }
.overlay .submit { margin:30px 20px 0 0; color:#FFF; border:none; width:64px; height:23px; line-height:23px; background:url(../images/btn.png) 0 -83px no-repeat; }
.overlay .cancel { display:inline-block; color:#5e5e5e; height:18px; }
.overlay .text { height:18px; }
.overlay .add { margin-left:15px; border:none; display:inline-block; background:url(../images/btn.png) 0 -114px no-repeat; width:60px; height:22px; line-height:22px; text-align:center; cursor:pointer; }
.icon06 { width:10px; height:10px; background-position:0 -52px; float:right; margin-top:3px; }

.overlay .yuyue { width:275px; margin:35px 125px; }
.text_rs { width:18px; border:none; border-bottom:1px solid #999; padding:0 5px; }
.overlay .yuyue input { margin:10px 0; }
.overlay .yuyue .submit { margin-right:15px; }

.overlay .cxrengou { width:385px; margin:35px 70px; }
.overlay .cxrengou p { font-size:14px; line-height:24px; }
.overlay .cxrengou .submit { margin-left:90px; }

.box_c .xunjia_h3,.box_c .vipser_h3 { text-align:center; width:740px; margin-left:15px; }
.box_c .box_xj { margin:65px 0 0 15px; width:740px; }
.box_c .box_xj h4 { font-size:14px; color:#3f3f3f; margin-bottom:15px; } 
.box_c .box_xj h4 span { color:#999; font-weight:normal;}
.box_c p { padding:0 0 0 20px; line-height:24px; }
.box_c p a { text-align:center; color:#FFF; display:inline-block; height:23px; line-height:23px; background:url(../images/btn.png) no-repeat; }
.box_c p a:hover { text-decoration:none; }
.box_c p .xiazai { width:64px; background-position:0 -83px; } 
.box_c p .yjtuis { width:80px; background-position:-62px -114px; }
.tabcnt_xx .text {width:157px; height:18px; float:right; }
.tabcnt_xx .text1 { margin-right:100px; }
.tabcnt_xx td { padding:7px 0; }
.table_lr { border:1px solid #CCC;border-bottom:none; }
.table_lr .bor_r {border-right:1px solid #CCC; }
.table_lr td { border-bottom:1px solid #CCC; width:50%; height:38px; padding-left:15px;}
.box_c .box_lr { padding-bottom:80px; }
.con_can { margin:50px auto; width:310px; }
.con_can a { text-align:center; display:inline-block; height:40px; line-height:40px; }
.con_can .con { margin-right:20px; width:106px; background:url(../images/btn.png) 0 0 no-repeat; color:#FFF; font-size:16px; }
.con_can .can { font-size:14px; color:#5e5e5e; }
.con_can .con:hover { text-decoration:none; }

.pager{ margin:20px 0; float:right;height:40px;line-height:30px;padding:10px 0 0;font-family:Arial;}
.pager ul{ float:left;}
.pager li{float:left;height:28px;text-align:center; margin-left:3px;}
.pager a{ font-size:14px;display:inline-block;text-decoration:none;color:#3F3F3F;height:31px;line-height:31px; width:29px; background:url(../images/pager.png) top right no-repeat;}
.pager a:hover{color:#fff;text-decoration:none;background:url(../images/pager.png) left bottom no-repeat;}
.pager li.current a{color:#FFF; cursor:pointer; background:url(../images/pager.png) left bottom no-repeat;}
.pager li.current a:hover{color:#FFF; font-weight:normal;}
.pager li.next{margin-right:0;}
.pager li.next a{ width:63px;color:#3f3f3f; background:url(../images/pager.png) 0 0 no-repeat;}
.pager li.next a:hover{ width:63px;color:#fff; background:url(../images/pager.png) -31px -34px no-repeat;}
.pager li.end a{color:#3f3f3f;cursor:default;}
.pager li.end a:hover{color:#fff;  font-weight:normal;}

.table_zntj { border:1px solid #C7C9D1; border-top:none; border-radius:10px;}
.table_zntj .select { width:245px; height:21px; line-height:21px; border: 1px solid #E0E0E0; color:#CCC; }
.table_zntj .show { width:229px; padding:0 8px; top:20px;border: 1px solid #E0E0E0; border-top:none;}
.table_zntj .show1 { width:340px; padding:0 8px;border: 1px solid #E0E0E0;}
.table_zntj .show li {line-height:26px; text-align:left; }
.table_zntj .text { background:#f7f7f7; width:62px; height:19px; border:1px solid #E0E0E0; padding:0 8px;}
.table_zntj td ,.table_zntj th { text-align:left; }
.table_zntj td { color:#5e5e5e;}
.table_zntj .select a.curr{ color:#CCC;position:relative; height:21px; z-index:101;padding:0 8px; margin:0; background:#FFF url(../images/select.png) 230px 10px no-repeat;}
.table_zntj .selected .select a.curr{  color:#020000; } 
.table_zntj .selected .select { color:#020000;} 
.table_zntj .selected .text { background:#fff;}
.table_zntj .show1 li { width:auto; margin-right:10px; }
.table_zntj .show1 li.btn { width:100%; }
.table_zntj .show1 .checkbox { float:left; margin:6px 5px 0 0; }

.total_sc { width:260px; float:right; margin:30px 100px 15px 0; }
.score { margin-top:-12px;float:right; font-family:Verdana, Geneva, sans-serif; font-size:48px; font-weight:bold; }
.s_red {color:#C41215;}
.s_gre {color:#60AC83;}
.pro_bar { margin-left:15px; display:inline-block; width:102px; height:13px; background:url(../images/pro_bar.png) no-repeat; }
.pro_bar1{ background-position:0 0;}
.pro_bar2{ background-position:0 -19px;}
.sc { float:left; line-height:20px; }
.submit_save { margin:10px 25px 0 0; cursor:pointer; border:none; background:url(../images/btn.png) no-repeat; font-size:16px; }
.submit_save1{width:100px; height:36px; color:#ACAEBA; background-position:0 -141px;}
.submit_save2{width:103px; height:38px; color:#FFF; background-position:0 0;}
.score a { font-size:14px; }

.box_sddy { width:960px; margin-right:60px; background:#FFF;border:1px solid #BEC0CA;border-radius: 10px; }
.box_sddy h5 { border-top-left-radius:10px;border-top-right-radius:10px; border-bottom:1px solid #BEC0CA; font-weight:normal; height:30px; background:#F9F9F9; line-height:30px; }
.list_gg .flt_l { width:125px; margin:30px 0 0 25px; }
.list_gg .flt_r { width:765px; margin:30px 45px 0 0;}
.list_gg .gonggao { display:inline-block; width:80px;height:24px; line-height:24px; text-align:center; background:url(../images/gonggao.png) no-repeat; }
.list_gg .gonggao1 { color:#3f3f3f; font-size:14px; height:30px; line-height:30px;}
.list_gg .gonggao2 { color:#FFF; background-position:0 -37px; height:22px; line-height:22px; font-size:14px; font-family:Verdana, Geneva, sans-serif;  }
.list_gg .gonggao3 { color:#D93F38; background-position:0 -63px;margin:30px 0 5px 0; }
.list_gg .gonggao4 { color:#FFF; background-position:0 -90px; }
.list_gg h4 a { font-size:14px; color:#3f3f3f; width:auto; } 
.list_gg h4 span { display:inline-block; width:30px; height:18px;background:url(../images/icon.png) -15px -52px no-repeat; } 
.list_gg span { color:#D73D36; }
.list_gg .left { margin:8px 50px 12px 0; }
.list_gg .content { clear:both; line-height:24px; }
.list_gg li { border-bottom:1px solid #CCC; padding-bottom:20px; }
.box_sddy .pager { margin-right:30px; }
.box_c .yydiaoyan {margin-bottom:20px; }
.box_c .yydiaoyan,.box_c .des{ width:740px; margin-left:15px; }
.box_c .yydiaoyan p { float:right; padding:8px 10px; }
.box_c .des p { font-size:14px; line-height:24px; margin:10px 20px 0 0; }

.table_dy { background:#FFF; border:1px solid #C8C9D1; border-top:none; border-radius:10px; }
.table_dy td,.table_dy th { text-align:left; }
.table_dy td { color:#5e5e5e;background:none; }
.table_dy td a { color:#0072C5; }
.table_dy label { font-family:Verdana, Geneva, sans-serif; }
.table_dy .checkbox { float:left; margin:13px 5px 0 0; }
.table_dy tr { background-color:#FFF; }
.table_dy tr:hover { cursor:pointer; background:#F9F9F9; }
.table_dy .trth:hover { cursor:default; background:url(../images/th_bg.png) 0 0 repeat;}
.delete,.edit { float:left; margin:5px 7px 0 0; display:inline-block; width:20px; height:18px; background:url(../images/del_edi.png) no-repeat; }
.edit { background-position:-26px 0; }
.delete:hover { background-position:0 -17px; }
.edit:hover { background-position:-26px -18px; }
.xialabeizhu span{margin:18px 30px 0 0; float:right; display:inline-block; width:10px; height:5px; background:url(../images/arrow.png) 0 0 no-repeat;}
.xialabeizhu span.arrow { background-position:-14px 0;  }
.table_dy p { width:80%; float:left; }
.table_dy .xialabeizhu p { line-height:18px;margin:10px 0; }
.beizhu { overflow:hidden; height:19px;  }
.table_dy .fail,.table_dy .finish { color:#CCC; }
.finish span { margin:5px 0 0 -2px; float:left; display:inline-block; width:15px; height:15px; background:url(../images/icon.png) -73px -54px no-repeat; }
.all_del { padding:15px 0 0 20px; }
.all_del .checkbox { margin-top:3px;}
.all_del .btn_del { margin-left:25px; display:inline-block; width:63px; height:23px; line-height:23px; color:#FFF; text-align:center; background:url(../images/btn.png) -1px -83px no-repeat;  }
.table_dy .pager { margin:0 40px 20px 0;} 

.box_sddy .wxdiaoyan { text-align:center; margin:80px 235px 160px 235px; width:470px; height:290px; background:url(../images/diaoyan.png) no-repeat; }
.box_sddy .wxdiaoyan h3 { padding:45px 0 25px 0; font-weight:bold; font-size:18px;}
.box_sddy .wxdiaoyan p { padding:0 80px; font-size:16px; line-height:24px; }
.box_sddy .wxdiaoyan p a { color:#0072C5; text-decoration:underline; padding:0 5px; }
.box_sddy .tiaozhuan { margin-top:30px font-size:16px; line-height:45px; display:inline-block; width:160px; height:42px; background:url(../images/btn.png) 0 -180px no-repeat; }
.box_sddy .tiaozhuan span { display:inline-block; height:18px; width:18px; background: url(../images/icon.png) -91px -47px no-repeat;margin:12px 10px 0 -5px; float:right;}
.box_sddy .tiaozhuan:hover { text-decoration:none; }

.box_xsly { width:885px; background:#FFF; border:1px solid #C7C9D1; border-radius:10px; padding:40px 35px 50px 45px;  }
.box_xsly h3 { margin-bottom:40px font-size:24px; color:#3F3F3F; padding:0 0 25px 0; border-bottom:3px solid #BB4940; }
.box_xsly p { font-size:14px; line-height:24px; margin:0 0 10px 0; }
.intro { margin-top:40px; background:url(../images/tab_r.png) right 0 no-repeat; position:relative; } 
.tab_l,.tab_r { position:absolute;top:0;  display:inline-block; width:5px; height:43px; } 
.tab_l {left:0; background:url(../images/tab_head.png) 0 0 no-repeat;}
.tab_r {right:0; background:url(../images/tab_r.png) 0 0 no-repeat;}
.tabs_ajax { height:43px; background:url(../images/tab_m.png) 0 0 repeat-x; }
.tabs_ajax a { text-align:center; display:inline-block; width:100px; height:35px; line-height:35px; margin:8px 0 0 10px; font-size:14px;  }
.tabs_ajax a.current { background:url(../images/tab_cur.png) 0 0 no-repeat; color:#5e5e5e; font-weight:bold; }
.tabs_ajax a:hover { background:url(../images/tab_cur.png) 0 0 no-repeat; color:#5e5e5e;font-weight:bold; text-decoration:none; }

.tabcnt_ajax { margin:20px 0 0 0; }
.video { width:600px; height:440px; float:left;}
.des_vid { float:right; width:270px; }
.des_vid h5{ font-size:14px; line-height:24px; margin-bottom:30px; }

.online_com { clear:both; padding:20px 0 0 0; }
.online_com h4 { font-size:14px; margin:0 0 15px 0; }
.online_com .select { width:55px; height:18px; line-height:18px;border: 1px solid #CECECE;}
.online_com .select a.curr { margin:0 3px;height:18px;line-height:18px;background: url(../images/select.png) right 8px no-repeat; }
.online_com .select .show { width:49px; padding:0 3px; line-height:18px; top:18px; }
.online_com .text { float:left; width:78px; height:16px; border:1px solid #CECECE; border-right:none; padding:1px; }
.online_com .submit_se { float:right;display:inline-block; border:none; width:20px; height:20px; cursor:pointer; background:url(../images/btn.png) -115px -150px no-repeat; }
.com_h table { float:left;}

.online_com .com_pre,.online_com .com_aud{background-color:#DADDE0;border:1px solid #A7A7A7;}
.online_com .com_pre {width:490px; float:left; }
.online_com .com_aud {width:385px; float:right; }
.com_h { background:url(../images/comh_bg.png) 0 0 repeat-x; padding:4px 0 4px 13px;}
.com_h .arr_upd { float:right; }
.arr { margin:8px 10px 0 0; display:inline-block; width:5px; height:7px; background:url(../images/arr_upd.png) no-repeat; }
.arr01 { background-position:0 0; }
.arr02 { background-position:0 -13px; }
.arr03 { background-position:-30px -13px;}
.arr04 { background-position:-29px 0;}
.arr05 { margin-top:10px; width:15px; height:12px; background-position:-9px 0;}
.online_com .arr_upd .text { margin:0 2px; height:12px; float:none; width:16px;border:1px solid #CECECE;}
.page { margin:4px 10px 0 0; }
.upd { border-left:1px solid #A7A7A7; height:32px; display:inline-block; margin-top:-5px; padding:0 0 0 6px; } 

.box_xsly .list_com p { margin-bottom:5px; font-size:12px; line-height:20px; }
.list_com { height:530px; overflow:auto; }
.list_com li { background:#FFF; margin:4px 6px; padding:10px 13px 15px 10px; }
.list_com p span { display:inline-block; }
.list_com .serial_num { font-family:Verdana; width:50px;}
.list_com .time { font-family:Verdana;float:right; }
.list_com .cnt_com { padding-left:50px; }
.com_aud .list_com { height:380px; } 
 
.qus { background-color:#F6F6F6; border:1px solid #CECECE; padding:13px 11px 6px 5px;  }
.online_com .qus .select { float:left;width:305px;}
.online_com .qus .select .show { width:304px; }
.online_com .qus .text { margin-bottom:6px; width:347px; height:85px; border:1px solid #CECECE; padding:5px; }
.submit_qus { position:relative; z-index:105; margin-left:-1px; float:left; color:#FFF; display:inline-block; border:none; width:55px; height:20px; line-height:20px; cursor:pointer; background:url(../images/btn.png) -170px -90px no-repeat;}

.list_guest li { margin-bottom:10px; background:url(../images/guest_bg.png) 0 0 repeat-x; border:1px solid #C7C9D1; border-radius:5px; padding:15px 45px 15px 28px; }
.list_guest li p { margin:0;}
.list_guest li img { float:left; margin-right:30px; }
.list_guest li h5 { font-size:16px; }

.box_xsly .box_c h3 { margin-bottom:0; }
.bondinf .box_c { padding:0; border:none; width:885px; }
.bondinf .box_c .zxziliao { width:850px; }

.tabs {border-top-left-radius:10px;border-top-right-radius:10px; border-bottom:1px solid #BEC0CA; background:#F9F9F9; padding:4px 0 0 28px; }
.tabs li a { margin-right:20px; text-align:center; width:70px; display:inline-block; height:28px; line-height:28px; color:#5e5e5e; }
.tabs li a:hover { text-decoration:none; }
.tabs li a.current { color:#FFF; background:url(../images/current_bg.png) -115px -77px no-repeat; }
.tabcnt { padding:30px 0 0 27px; }
.photo { width:105px; float:left; }
.photo img { float:left; margin:0 35px 10px 0; }
.photo a { margin-left:10px; color:#0072C6; float:left; display:inline-block; clear:both; width:50px; }
.user1 { float:left; }
.user1 p { line-height:20px; }

.tabcnt .submit { font-size:14px; }
.tabcnt1 .tabcnt_form { margin:40px 0 0 100px; border:none; padding:0; clear:both; padding-bottom:50px; }
.tabcnt1 table td { color:#5e5e5e; }
.tabcnt2 .tabcnt_form,.tabcnt3 .tabcnt_form{ margin:0 0 0 40px; border:none; padding:0 0 50px 0; }

.box_help { padding:25px 5px 100px 45px; position:relative; }
.box_help h2 { font-size:26px; color:#3f3f3f; line-height:35px; font-weight:normal;}
.list_prob { margin:40px 0 0 0; }
.list_prob h4 { padding:0 0 0 10px; font-size:14px; color:#333;border-bottom:1px dashed #BEC0CA; width:390px; line-height:35px;  }
.list_prob ul li { padding:0 0 0 10px; background:url(../images/icon.png) -133px -81px no-repeat;  float:none; width:390px; border-bottom:1px dashed #BEC0CA; }
.list_prob ul li a { color:#0072C5; height:35px; line-height:35px; }

.ser_tel { position:absolute; top:35px; left:750px;  }
.ser_tel h5 { padding-left:15px; line-height:33px; height:33px; width:214px; font-size:14px; color:#FFF; background:url(../images/ser_tel.png) 0 0 no-repeat; }
.table_ser td { color:#5e5e5e; line-height:22px; }
.table_ser { width:209px; border:1px solid #CCC; border-top:none;  padding:20px 0 12px 18px;}
.btn_fb { text-align:center; display:inline-block; width:122px; height:26px; line-height:26px; cursor:pointer; background:url(../images/btn.png) -177px -121px no-repeat;}
.feedback { padding:10px 52px; background:#f9f9f9; border:1px solid #CCC; border-top:none; }
.ser_tel a:hover { text-decoration:none; }
.form_fd { display:none; padding:7px 8px; width:211px; background:#f9f9f9; border:1px solid #CCC; border-top:none;}
.form_fd .text { border:1px solid #CCC; margin-bottom:5px; width:200px; height:235px; padding:5px;}
.form_fd .submit { margin:0 10px 0 55px; cursor:pointer; border:none; width:62px; height:26px; line-height:26px; background:url(../images/btn.png) -237px -159px no-repeat; display:inline-block; color:#FFF; }
.form_fd a { color:#5e5e5e; font-size:14px; }
.form_fd a:hover { text-decoration:underline; }
.box_help .answer { width:550px; margin:35px 0 0 0; }
.box_help .answer p { font-size:14px; line-height:24px; margin:0 0 10px 0; }

.agr_can input { margin:10px 0 0 60px; }
/*ie6*/
*html .table table .show_body tbody { display:block;}
*html #wrap1 .box2 { padding-right:0; }
*html .cha_ser { margin-bottom:-32px; }
*html .cha_ser .li_hot { width:80px; height:25px; }
*html .cha_ser .li_hot a { display:inline-block; width:80px; text-align:left; }
*html .cha_ser .li_hot a span { margin-top:-20px; }
*html .operate { padding:25px 0 20px 30px;}
*html .form_email .checkbox { margin:-2px 5px 0 3px; }
*html .clo_loo .loo span {margin:-25px 10px 0 0;}
*html .clo_loo .loo {width:165px; text-align:left; padding-left:15px; }
*html .overlay label .checkbox { margin-top:-4px; }
*html .overlay .yuyue .cancel { height:28px; } 
*html .overlay .yuyue span { display:inline-block; margin-top:-26px; }
*html .chakan span { margin:-10px 0 0 0; float:none;}
*html .score { padding:15px 0; margin-top:-15px;}
*html .list_gg .flt_l { width:85px; margin:30px 40px 0 15px; }
*html .list_gg .flt_r { margin-right:20px; }
*html .box_sddy .tiaozhuan { text-align:left;width:145px; padding-left:15px; }
*html .box_sddy .tiaozhuan span {margin:-32px 10px 0 -5px;}
*html .tab_r{ right:29px; }
*html .com_pre .list_com { width:490px; }
*html .com_aud .list_com { width:385px; }
*html .com_h .arr_upd { width:185px;}
*html .com_pre .list_com li { width:425px; }
*html .com_pre .list_com li p { width:425px; }
*html .com_pre .list_com .cnt_com { width:375px; }
*html .com_aud .list_com li { width:320px; }
*html .com_aud .list_com li p { width:320px; }
*html .com_aud .list_com .cnt_com { width:270px; }
*html .tabcnt1 .tabcnt_form {margin:0 0 0 100px;}
*html .title{ margin-bottom:15px; }
*html .form_email .submit_ema {background:url(../images/btn.png) -63px -83px; no-repeat; } 
*html .table_dy .checkbox {margin:10px 5px 0 0;}
*html .all_del .checkbox{margin-top:0;}
*html .xialabeizhu span{margin:12px 30px 0 0;}
*html .xialabeizhu span.arrow{ margin-top:20px; }
*html .table_zntj .show1 li { width:80px; float:left; }
*html .table_zntj .show1 .checkbox { margin:2px 2px 0 0;}
*html .select .show .btn .confirm{ margin-bottom:3px; }
/*i7*/
*+html .help_top { margin-top:8px; }
*+html .table table .show_body tbody { display:block;}
*+html .cha_ser { margin-bottom:-10px; }
*+html .cha_ser .li_hot a { display:inline-block; width:80px; text-align:left; }
*+html .cha_ser .li_hot a span { margin-top:-20px; }
*+html .operate { padding:25px 0 20px 30px;}
*+html .form_email .checkbox { margin:-2px 5px 0 3px; }
*+html .clo_loo .loo {width:165px; text-align:left; padding-left:15px; }
*+html .clo_loo .loo span {margin:-25px 10px 0 0;}
*+html .overlay label .checkbox { margin-top:-5px; }
*+html .overlay .yuyue .cancel { height:25px; }
*+html .overlay .yuyue span { display:inline-block; margin-top:-24px; }
*+html .box_sddy .tiaozhuan { text-align:left;width:145px; padding-left:15px; }
*+html .box_sddy .tiaozhuan span {margin:-32px 10px 0 -5px;}
*+html .online_com .qus .text { padding-bottom:11px;}
*+html .tabcnt1 .tabcnt_form {margin:0 0 0 100px;}
*+html .title{ margin-bottom:15px; }
*+html .form_email .submit_ema {background:url(../images/btn.png) -63px -83px; no-repeat; }
*+html .table_dy .checkbox {margin:10px 5px 0 0;}
*+html .all_del .checkbox{margin-top:0;}
*+html .table_zntj .show1 li { width:80px; float:left; }
*+html .table_zntj .show1 .checkbox { margin:2px 2px 0 0;}
*+html .select .show .btn .confirm{ margin-bottom:3px; }